:root {
  --rgb-bg: 16, 16, 20;
  --bg: rgb(var(--rgb-bg));

  --rgb-bg-light: 24, 24, 28;
  --bg-light: rgb(var(--rgb-bg-light));

  --rgb-bg-lowest: 10, 10, 12;
  --bg-lowest: rgb(var(--rgb-bg-lowest));

  --rgb-foreground: 255, 255, 255;
  --bg-dimm: rgba(var(--rgb-foreground), 0.1);

  --rgb-accent: 99, 226, 183;
  --bg-accent: rgba(var(--rgb-accent), 0.16);
  --text-accent: rgb(var(--rgb-accent));

  --text: rgba(var(--rgb-foreground), 0.82);
  --text-bright: rgba(var(--rgb-foreground), 0.9);
  --text-muted: rgba(var(--rgb-foreground), 0.52);

  --rgb-error: 232, 128, 128;
  --error: rgb(var(--rgb-error));
  --error-bg: rgba(var(--rgb-error), 0.16);

  --rgb-warn: 242, 201, 125;
  --warn: rgb(var(--rgb-warn));
  --warn-bg: rgba(var(--rgb-warn), 0.16);

  /* Helper tokens */
  --rgb-white: 255, 255, 255;
  --rgb-black: 0, 0, 0;
}

body.theme-white {
  --rgb-bg: 255, 255, 255;
  --bg: rgb(var(--rgb-bg));

  --rgb-bg-light: 245, 245, 247;
  --bg-light: rgb(var(--rgb-bg-light));

  --rgb-bg-lowest: 238, 238, 240;
  --bg-lowest: rgb(var(--rgb-bg-lowest));

  --rgb-foreground: 31, 34, 37;
  --bg-dimm: rgba(var(--rgb-foreground), 0.1);

  --rgb-accent: 24, 160, 88;
  --bg-accent: rgba(var(--rgb-accent), 0.16);
  --text-accent: rgb(var(--rgb-accent));

  --text: rgba(var(--rgb-foreground), 0.82);
  --text-bright: rgba(var(--rgb-foreground), 0.9);
  --text-muted: rgba(var(--rgb-foreground), 0.52);
}