@mixin custom-scrollbar {
  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background: rgba(var(--rgb-white), 0.1);
    border-radius: var(--radius-sm);
  }
  &::-webkit-scrollbar-thumb:hover {
    background: rgba(var(--rgb-white), 0.2);
  }
}
